#parallax {
    /* The image used */
    background-image: url("../Images/display/parallax.jpg");

    /* Set a specific height */
    height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#splash {
    height: 310px;
    margin-top: -310px;
    background-color: rgba(51,51,51,0.7);
}

#splash div p{
    color: white;
    padding-top: 10%;
    font-size: 1.2em;
}

#splash div h3{
    color: whitesmoke;
}

#follow-apps a{
    margin-right: 2%;
}

.featured img{
    margin: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.featured {
    background: rgb(236, 245, 255);
}

@media (max-width: 991.98px){
    #log-btn {
        margin-top: 15%;
    }
}