{% extends 'base_account.html' %}
{% block style %}
<style>
    @media (min-width: 991.98px) {
        input {
            margin-left: 10%;
        }

        select {
            margin-left: 10%;
        }

        .tags {
            margin-left: 10%;
        }
    }

    .heading-library {
        padding: 2%;
        width: 100%;
    }

    .value-library {
        margin-left: 50%;
        color: blue;
    }

    #main-block {
        background-color: whitesmoke;
        padding: 5%;
        width: 95%;
    }
</style>
{% endblock %}

{% block main_block %}
<p class="h4">Add Member</p>
<hr>
<form class="container" method="post" autocomplete="off">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label form-head">Name<span style="color: red;">&nbsp;*</span></label>
        <div class="col-sm-10">
            <input type="text" class="form-add" name="name-member" placeholder="Full name" required>
        </div>
    </div><br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label form-head">Username<span style="color: red;">&nbsp;*</span></label>
        <div class="col-sm-10">
            <input type="text" class="form-add" name="username-member" placeholder="Unique username for member"
                onblur="JavaScript:check_name_validity(this)" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-outline-secondary" style="font-size: 0.8em;"
                onclick="JavaScript:suggest_username()">Suggest</button>
        </div>
    </div><br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label form-head">Email<span style="color: red;">&nbsp;*</span></label>
        <div class="col-sm-10">
            <input type="email" class="form-add" name="email-member" placeholder="Email" required>
        </div>
    </div><br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label form-head">Phone number</label>
        <div class="col-sm-10">
            <input type="tel" class="form-add" name="phone-member" placeholder="Phone">
        </div>
    </div><br>
    <div class="form-group row">
        <span class="col-sm-2 col-form-label form-head">Address</span>
        <div class="container">
            <input type="text" class="form-add long-dash" name="address-1" placeholder="Address Line 1"><br><br>
            <input type="text" class="form-add long-dash" name="address-2" placeholder="Address Line 2"><br><br>
            <input type="text" class="form-add short-dash" name="address-3" placeholder="District">
            <input type="text" class="form-add short-dash right-dash" name="address-4" placeholder="State"><br><br>
            <input type="number" class="form-add short-dash" name="address-5" placeholder="Postal Code">
            <select name="address-6" class="form-add form-select-sm mb-3 short-dash right-dash">
                {% for country in option_countries %}
                {{country|safe}}
                {% endfor %}
            </select>
        </div>
    </div><br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label form-head">Avatar<span style="color: red;">&nbsp;*</span></label>
        <div class="pl-sm-4 pl-2 container" id="img-section" style="text-align: center;">
            <img src="../static/Personal/Images/members/member_8.png" width="70"
                style="filter: blur(2px); cursor: pointer;" id="before" onclick="JavaScript:scroll_pic(-1)">
            {% for i in range(1,5) %}
            &nbsp;
            {% endfor %}
            <img src="../static/Personal/Images/members/member_0.png" width="70" id="main">
            {% for i in range(1,5) %}
            &nbsp;
            {% endfor %}
            <img src="../static/Personal/Images/members/member_1.png" width="70"
                style="filter: blur(2px); cursor: pointer;" id="after" onclick="JavaScript:scroll_pic(1)">
        </div>
    </div><br><br>
    <hr>
    <div class="container-fluid" style="text-align: center;">
        <button type="submit" class="btn btn-primary" id="save-btn">Submit</button>&nbsp;&nbsp;
        <button type="reset"
            onclick="if(confirm('Do you really want to exit this page?')){window.location.replace('/')}"
            class="btn btn-secondary" id="cancel-btn">Cancel</button>
    </div>
    <input type="text" id="avatar-name" value="0" name="avatar" hidden>
</form>
<div id="all-user" hidden>{% for i in range(members|length) %}{{members[i]['username'].strip()}};{% endfor %}</div>
{% endblock %}

{% block code %}
<script>
    const before = document.getElementById('before');
    const main = document.getElementById('main');
    const after = document.getElementById('after');
    const data = document.getElementById('avatar-name')
    var pic = 0;

    function scroll_pic(click) {
        if (click == -1) { if (!pic) { pic = 8; } else { pic--; } }
        else { if (pic == 8) { pic = 0; } else { pic++; } }
        before.src = "../static/Personal/Images/members/member_" + String(pic + 8 * Math.floor((8 - pic) / 8) - (((Math.floor((8 - pic) / 8)) + 1)) % 2) + ".png";
        main.src = "../static/Personal/Images/members/member_" + String(pic) + ".png";
        after.src = "../static/Personal/Images/members/member_" + String((pic + 1) % (9)) + ".png";
        data.value = pic;
    }

    const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789_';
    const all_users = document.getElementById('all-user').innerHTML.split(';')
    function suggest_username() {
        let result = "";
        const charactersLength = characters.length;
        for (let i = 0; i < 10; i++) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
        if (all_users.includes(result)) {
            suggest_username();
        }
        else {
            document.getElementsByName('username-member')[0].value = result;
        }
    }

    function check_name_validity(elem) {
        if (elem.value.length < 5 && elem.value.length > 0) {
            alert("Username must be atleast 5 characters long")
            elem.value = ""
        }
        else if (all_users.includes(elem.value) && elem.value != "") {
            alert("This unique username is already taken.")
            elem.value = ""
        }
        else {
            for (let i = 0; i < elem.value.length; i++) {
                if (!characters.includes(elem.value[i])) {
                    alert("You can not use special characters other than underscore (_) in username.")
                    elem.value = ""
                    break;
                }
            }
        }
    }
</script>
{% endblock %}