{% extends 'base_account.html' %}
{% block style %}
<style>
    .list-tag {
        font-size: 0.8em;
        font-weight: 500;
    }

    .card-personal {
        background-color: rgb(234, 234, 234);
    }

    .main-grouper {
        padding: 5%;
        width: 20em;
    }

    .details-member {
        font-size: 0.8em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .editor-members {
        border: none;
        border-radius: 0;
        background-color: rgb(40, 40, 40);
        color: white;
    }

    .username-floater {
        text-align: left;
        padding-left: 2%;
        margin-top: -5%;
        font-size: 0.8em;
        color: rgb(163, 163, 163);
    }

    @media (min-width: 991.98px) {
        .card-personal {
            width: 20em;
        }

        .member-image {
            width: 100px;
        }

        input {
            margin-left: 10%;
        }

        select {
            margin-left: 10%;
        }

        .tags {
            margin-left: 10%;
        }
    }

    @media (max-width: 991.98px) {
        .card-personal {
            width: 15em;
        }

        .main-grouper {
            width: 18em;
            text-align: left;
        }

        .member-image {
            width: 50px;
        }
    }

    @media (min-width: 1044px),
    (min-width: 769.91px) and (max-width: 991.98px) {
        .floater-left {
            float: left;
        }

        .floater-right {
            float: right;
        }
    }

    @media (max-width: 1044px) and (min-width: 991.98px),
    (max-width: 769.91px) {
        .floater-left {
            float: none;
            margin-bottom: -10%;
        }

        .floater-right {
            float: none;
            margin-bottom: -10%;
        }

        #space-enter {
            display: none;
        }
    }

    @media (max-width: 769.91px) {
        .floater-member {
            font-size: 1.1em;
        }

        .member-image {
            width: 100px;
        }

        .card-title {
            font-size: 0.9em;
        }
    }

    @media (min-width: 769.91px) and (max-width: 991.98px) {
        .username-floater {
            display: none;
        }
    }

    .popover {
        display: inline-block;
        cursor: pointer;
        border: none;
    }

    .popover-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
    }

    .popover.active .popover-content {
        display: block;
    }

    .main-block-inside {
        background-color: rgb(236, 236, 236);
        width: 95%;
        padding: 5%;
    }

    #show-2 {
        background-color: whitesmoke;
    }
    </style>
{% endblock %}

{% block main_block %}
{% if members|length==0 %}
<p class="h1" style="color: rgb(31, 1, 61);">No Members !</p><br><br>
<a href="/dashboard/add-member" onclick="JavaScript:show_loader()" class="btn btn-success"
style="width: 100%; font-size: 1.3em;">+ Add Members</a>
{% else %}
<div class="container pt-4 main-block-inside" id="show-1" style="text-align: right;">
    <p class="h4" style="text-align: left;">Members</p>
    <form method="post" autocomplete="off">
        <button class="btn btn-secondary" type="submit">Save Changes</button>
        <hr>
        <div id="note">(Note: If you don't click on Save Changes, all the edits will be gone)</div>
        <div id="all-members-show">
            {% set ns = namespace() %}
            {% set ns.index = 0 %}
            {% for i in range(members|length) %}
            {% if ns.index==0 %}
            <div class="floater-member">
                <span id="{{members[i]['username']}}-card" class="floater-left">
                    {% else %}
                    <span id="{{members[i]['username']}}-card" class="floater-right">
                        {% endif %}
                        <div class="card card-personal" style="background-color: white;">
                            <div class="card-body">
                                <span class="popover"><img src="../static/Personal/Images/display/edit.png" width="15px"
                                        style="margin-top: -1%; cursor: pointer;">
                                    <div class="popover-content">
                                        <span type="button"
                                            id="{{members[i]['name']}};{{members[i]['username']}};{{members[i]['email']}};{{members[i]['phone']}};{{members[i]['avatar']}};{{i}};{{members[i]['address']}}"
                                            class="btn btn-primary container-fluid editor-members"
                                            onclick="Javascript:edit_member(this.id.split(';'))">Edit</span><br>
                                        <span type="button" id="{{members[i]['username']}}-delete"
                                            class="btn btn-danger container-fluid editor-members"
                                            onclick="Javascript:delete_member(this.id.slice(0,-7))">Delete</span>
                                    </div>
                                </span>

                                <img src="../static/Personal/Images/members/member_{{members[i]['avatar']}}.png"
                                    style="float: left; padding-right: 5%;" class="member-image" id="{{i}}-avatar-x">
                                <div id="{{members[i]['username']}}-delete-reminder"
                                    style="color: red; font-size: 1.5em;" hidden>(Deleted)</div>
                                <div class="card-title h6 {{members[i]['username']}}-data-member" id="{{i}}-name-x"
                                    style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                    {{members[i]['name']}}</div>
                                <div class="details-member {{members[i]['username']}}-data-member" id="{{i}}-address-x"
                                    style="color: rgb(168, 168, 168);">
                                    {{members[i]['address']}}</div>
                                <div class="details-member {{members[i]['username']}}-data-member" id="{{i}}-phone-x">
                                    {{members[i]['phone']}}</div>
                                <a class="details-member {{members[i]['username']}}-data-member" id="{{i}}-email-x">{{members[i]['email']}}</a>
                            </div>
                            <span class="username-floater">({{members[i]['username']}})</span>
                        </div><br><br>
                    </span>
                    {% if (ns.index==1 or (ns.index==0 and i==members|length-1)) %}
            </div>
            {% endif %}
            <span id="space-enter"><br><br><br><br><br></span>
            {% set ns.index = 1 - ns.index %}
            {% endfor %}
        </div>

        <input type="text" id="deleted" name="deleted" hidden>
        <input type="text" id="edited" name="edited" hidden>
    </form>
</div>

<div class="container pt-4 main-block-inside" id="show-2" hidden>
    <p class="h4">Edit Member</p>
    <hr>
    <form class="container" autocomplete="off">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-head">Name<span style="color: red;">&nbsp;*</span></label>
            <div class="col-sm-10">
                <input type="text" class="form-add" name="name-member" placeholder="Full name" required>
            </div>
        </div><br>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-head">Username<span style="color: red;">&nbsp;*</span></label>
            <div class="col-sm-10">
                <input type="text" class="form-add" name="username-member" placeholder="Unique username for member"
                    onblur="JavaScript:check_name_validity(this)" disabled>
            </div>
        </div><br>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-head">Email<span style="color: red;">&nbsp;*</span></label>
            <div class="col-sm-10">
                <input type="email" class="form-add" name="email-member" placeholder="Email" required>
            </div>
        </div><br>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-head">Phone number</label>
            <div class="col-sm-10">
                <input type="tel" class="form-add" name="phone-member" placeholder="Phone">
            </div>
        </div><br>
        <div class="form-group row">
            <span class="col-sm-2 col-form-label form-head">Address</span>
            <div class="container">
                <input type="text" class="form-add long-dash" name="address-1" placeholder="Address Line 1"><br><br>
                <input type="text" class="form-add long-dash" name="address-2" placeholder="Address Line 2"><br><br>
                <input type="text" class="form-add short-dash" name="address-3" placeholder="District">
                <input type="text" class="form-add short-dash right-dash" name="address-4" placeholder="State"><br><br>
                <input type="number" class="form-add short-dash" name="address-5" placeholder="Postal Code">
                <select name="address-6" class="form-add form-select-sm mb-3 short-dash right-dash">
                    {% for country in option_countries %}
                    {{country|safe}}
                    {% endfor %}
                </select>
            </div>
        </div><br>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-head">Avatar<span style="color: red;">&nbsp;*</span></label>
            <div class="pl-sm-4 pl-2 container" id="img-section" style="text-align: center;">
                <img width="70" style="filter: blur(2px); cursor: pointer;" id="before"
                    onclick="JavaScript:scroll_pic(-1)">
                {% for i in range(1,5) %}
                &nbsp;
                {% endfor %}
                <img width="70" id="main">
                {% for i in range(1,5) %}
                &nbsp;
                {% endfor %}
                <img width="70" style="filter: blur(2px); cursor: pointer;" id="after"
                    onclick="JavaScript:scroll_pic(1)">
            </div>
        </div><br><br>
        <hr>
        <div class="container-fluid" style="text-align: center;">
            <button type="button" onclick="JavaScript:update_member()" class="btn btn-primary"
                id="save-btn">Submit</button>&nbsp;&nbsp;
            <button type="button" onclick="JavaScript:cancel_editing()" class="btn btn-secondary"
                id="cancel-btn">Cancel</button>
        </div>
        <input type="text" id="avatar-name" name="avatar" hidden>
    </form>
</div>
{% endif %}
{% endblock %}

{% block code %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var popover = document.getElementsByClassName("popover");

        for (let i = 0; i < popover.length; i++) {
            var popoverContent = popover[i].getElementsByClassName("popover-content");

            popover[i].addEventListener("click", function () {
                popover[i].classList.toggle("active");
            });
            document.addEventListener("click", function (event) {
                if (!popover[i].contains(event.target)) {
                    popover[i].classList.remove("active");
                }
            });

        }
    });
    const before = document.getElementById('before');
    const main = document.getElementById('main');
    const after = document.getElementById('after');
    const data_avatar = document.getElementById('avatar-name');
    var pic = 0;

    function scroll_pic(click) {
        if (click == -1) { if (!pic) { pic = 8; } else { pic--; } }
        else { if (pic == 8) { pic = 0; } else { pic++; } }
        before.src = "../static/Personal/Images/members/member_" + String(pic + 8 * Math.floor((8 - pic) / 8) - (((Math.floor((8 - pic) / 8)) + 1)) % 2) + ".png";
        main.src = "../static/Personal/Images/members/member_" + String(pic) + ".png";
        after.src = "../static/Personal/Images/members/member_" + String((pic + 1) % (9)) + ".png";
        data_avatar.value = pic;
    }

    var member_data = [];
    function edit_member(data) {
        member_data = data;
        document.getElementById('show-1').hidden = true;
        document.getElementById('show-2').hidden = false;
        document.getElementsByName("name-member")[0].value = data[0];
        document.getElementsByName("username-member")[0].value = data[1];
        document.getElementsByName("email-member")[0].value = data[2];
        document.getElementsByName("phone-member")[0].value = data[3];
        document.getElementsByName("address-1")[0].value = data[6];
        document.getElementsByName("avatar")[0].value = pic = data[4];
        let avatar = Number(data[4])
        before.src = `../static/Personal/Images/members/member_${avatar - 1}.png`
        main.src = `../static/Personal/Images/members/member_${avatar}.png`
        after.src = `../static/Personal/Images/members/member_${avatar + 1}.png`
        if (avatar == 0) {
            before.src = `../static/Personal/Images/members/member_8.png`
        }
        else if (avatar == 8) {
            after.src = `../static/Personal/Images/members/member_0.png`
        }
    }

    function update_member() {
        let name = document.getElementsByName("name-member")[0].value.replace(/;/g, "");
        let email = document.getElementsByName("email-member")[0].value.replace(/;/g, "");
        let phone = document.getElementsByName("phone-member")[0].value.replace(/;/g, "");
        let avt = document.getElementById("avatar-name").value;
        document.getElementById('show-1').hidden = false;
        document.getElementById('show-2').hidden = true;
        document.getElementById(`${member_data[5]}-avatar-x`).src = `../static/Personal/Images/members/member_${avt}.png`;
        document.getElementById(`${member_data[5]}-name-x`).innerHTML = name;
        document.getElementById(`${member_data[5]}-email-x`).innerHTML = email;
        document.getElementById(`${member_data[5]}-phone-x`).innerHTML = phone;
        let addr = "";
        for (let i = 1; i <= 6; i++) {
            let ad = document.getElementsByName(`address-${i}`)[0].value.replace(/;/g, "");
            if (ad.replace(/ /g, "") != "") {
                addr += ad + ', ';
            }
        }
        addr = addr.slice(0, -2);
        document.getElementById(`${member_data[5]}-address-x`).innerHTML = addr;
        var edit_value_so_far = document.getElementById("edited");
        if (edit_value_so_far.value == "") {
            edit_value_so_far.value += "{";
        }
        edit_value_so_far.value += `"${member_data[1]}": ["${name}", "${email}", "${phone}", "${addr}", ${avt}], `;
    }

    function cancel_editing() {
        document.getElementById('show-1').hidden = false;
        document.getElementById('show-2').hidden = true;
    }

    var arr = "{{members}}".replace(/&#39;/g, "'");
    arr = eval(arr);
    function delete_member(username) {
        const deleted = document.getElementById('deleted');
        if (!deleted.value.split(';').includes(username) && confirm("Do you want to delete this member?")) {
            deleted.value += username + ';';
            const card = document.getElementById(`${username}-card`);
            document.getElementById(username + "-delete-reminder").hidden = false;
            const details = document.getElementsByClassName(username + "-data-member");
            for (i in details) {
                details[i].hidden = true;
            }
        }
    }
</script>
{% endblock %}