<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/Personal/Images/display/logo.png">
    <link rel="stylesheet" href="../static/Bootstrap/style.css">
    <title>Shelfmate: @{{user['username']}}</title>
    <link rel="stylesheet" href="../static/Personal/CSS/dashboard.css">
    <link rel="stylesheet" href="../static/Personal/CSS/loading.css">
    {% block style %}{% endblock %}
    {% block code_early %}{% endblock %}
</head>

<body style="background-color: gainsboro;">
    <div id="loading" class="show"></div>

    <header>
        <nav id="sidebarMenu" class="d-lg-block sidebar bg-white">
            <div class="position-sticky dash-content" style="margin-left: -8%;"></div>
        </nav>
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light fixed-top gradient">
            <div class="container-fluid">
                <button id="toggler" onclick="JavaScript:toggle()" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% for i in range(1,5) %}
                &nbsp;
                {% endfor %}
                <a class="navbar-brand" href="/">
                    <img src="../static/Personal/Images/display/logo.png" height="40" />
                </a>
                <div class="navbar-brand" id="brand">Shelfmate</div>

                <ul class=" ms-auto d-flex flex-row" data-bs-toggle="modal" data-bs-target="#settingModal"
                    style="cursor: pointer;">
                    <span id="account-name">{{user['name']}}
                    </span>&nbsp;&nbsp;<img src="../static/Personal/Images/avatars/avatar_{{user['avatar']}}.png"
                        class="rounded-circle" height="35" alt="" loading="lazy" style="margin-bottom: 2%;" />
                </ul>

            </div>
        </nav>
    </header>
    <div class="modal fade" id="settingModal" tabindex="-1" aria-labelledby="settingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:darkgrey;">
                    <img src="../static/Personal/Images/avatars/avatar_{{user['avatar']}}.png" width="120px">
                    {% for i in range(1,5) %}
                    &nbsp;
                    {% endfor %}
                    <h1 class="modal-title fs-5" id="settingModalLabel">
                        {{user['name']}}
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal"><a href="/account/settings"
                            style="text-decoration:none; color: white;">My Account</a></button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><a href="/account/logout"
                            style="text-decoration:none; color: white;">Log Out</a></button>
                </div>
            </div>
        </div>
    </div>

    {% block general_body %}{% endblock %}

    <main style="margin-top: 58px">
        <div class="container-fluid pt-4" id="main-block">
            {% block main_block %}{% endblock %}
        </div>
    </main>

    {% block code %}{% endblock %}
    <script>
        function toggle() {
            const bar = document.getElementById('sidebarMenu');
            const main = document.getElementsByTagName('main')[0];
            eval(`{% block toggle_const %}{% endblock %}`)
            if (bar.style.visibility == "visible") {
                bar.style.visibility = "hidden";
                main.className = "container-fluid"
                eval(`{% block toggle_visible %}{% endblock %}`)
            }
            else {
                bar.style.visibility = "visible";
                main.className = ""
                eval(`{% block toggle_invisible %}{% endblock %}`)
            }
        }

        const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        function decorate_date(input, perm = 1) {
            if (input.value) {
                var date = new Date(input.value);
                var format = `${date.getDate()} ${months[date.getMonth()]}, ${date.getFullYear()}`;
                if (perm) { input.type = 'text'; }
            }
            if (perm) { input.value = format; }
            return format;
        }

        function undecorate_date(input, perm = 1) {
            if (input.value) {
                var date = input.value.replace(", ", "-").replace(" ", "-").split('-');
                var month = months.indexOf(date[1]) + 1;
                var day = Number(date[0]);
                if (month < 10) {
                    month = `0${month}`
                }
                if (day < 10) {
                    day = `0${day}`
                }
                var format = `${date[2]}-${month}-${day}`;
                if (perm) { input.value = format; }
            }
            if (perm) { input.type = 'date'; }
            return format;
        }
    </script>
    <script src="../static/Bootstrap/code.js"></script>
    <script src="../static/Personal/JS/dash.js"></script>
    <script src="../static/Personal/JS/load.js"></script>
</body>

</html>