{% extends 'base_account.html' %}
{% block style %}
<style>
    #main-block {
        background-color: whitesmoke;
        padding: 5%;
        width: 95%;
    }

    .card {
        width: fit-content;
        font-size: 0.7em;
        font-weight: 500;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block main_block %}
<p class="h4">Check-In Member</p>
<hr>
<form class="container" method="post" autocomplete="off">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label form-head">Member<span style="color: red;">&nbsp;*</span></label>
        <div class="col-sm-10">
            <select name="member" class="form-add form-select-sm mb-3">
                <option value="" hidden>-select-</option>
                {% for x in members %}
                <option value="{{x['id']}}">{{x['id']}} - {{x['name']}}</option>
                {% endfor %}
            </select>
        </div>
    </div><br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label form-head">In Time<span style="color: red;">&nbsp;*</span></label>
        <div class="col-sm-10">
            <input type="text" placeholder="Check In Time" class="form-add" name="in-time"
                onfocus="JavaScript:undecorate_time(this)" onblur="JavaScript:decorate_time(this)">
        </div>
    </div><br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label form-head">Resources</label>
        <div class="col-sm-10">
            <input name="hidden-resource-tag" hidden>
            <div class="col-sm-10 tags" id="resource-tag"></div>
            <select name="resource" class="form-select-sm mb-3 form-add" onchange="JavaScript:add_choice()">
                <option value="" hidden>-select-</option>
                {% for x in resources %}
                {% if x["quantity"]-x["borrowed"]-x["reading"] %}
                <option value="{{x['isbn']}};{{x['title']}}">{{x['title']}}&nbsp;&nbsp;&nbsp;(#{{x['isbn']}})</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div><br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label form-head">Purpose</label>
        <div class="col-sm-10">
            <textarea type="text" placeholder="Purpose" class="form-add" name="purpose" rows="2"
                oninput="if(this.value.length>100){this.value = this.value.slice(0, 100)}else{document.getElementById('counter').innerHTML=this.value.length;}"></textarea>&nbsp;&nbsp;<span
                style="font-size: 0.7em;"><span id="counter">0</span>/100</span>
        </div>
    </div><br>
    <div class="form-group row" style="text-align: center;">
        <div class="col-sm-10">
            <input type="submit" class="btn btn-primary">
        </div>
    </div>
</form>
{% endblock %}

{% block code %}
<script>
    function decorate_time(self) {
        self.type = "text";
        if (self.value) {
            let date_raw = self.value.split('T')[0];
            let time_raw = self.value.split('T')[1];
            self.value = date_raw;
            var date = decorate_date(self, 0);
            self.value = `${date}   ${time_raw}`;
        }
    }

    function undecorate_time(self) {
        if (self.value) {
            let date_dec = self.value.split('   ')[0];
            let time_dec = self.value.split('   ')[1];
            self.value = date_dec;
            var date = undecorate_date(self, 0);
            self.value = `${date}T${time_dec}`;
        }
        self.type = "datetime-local";
    }

    const selector = document.getElementsByName("resource")[0];
    const hid_tagger = document.getElementsByName("hidden-resource-tag")[0];
    const tagger = document.getElementById("resource-tag");

    function add_choice() {
        let isbn = selector.value.split(';')[0];
        let title = selector.value.split(';')[1];
        if (!hid_tagger.value.split(';').includes(isbn)) {
            tagger.innerHTML += `<div onclick="JavaScript:delete_choice(${isbn}, this)" class="card bg-light mb-3"><div class="card-header"><span style="font-size: 1.4em; color: red;">&Cross;</span>&nbsp; ${title.replace(/ /g, "&nbsp;")}&nbsp;</div></div>`;
            hid_tagger.value += isbn + ';';
        }
        selector.selectedIndex = 0;
    }

    function delete_choice(choice, card) {
        card.remove();
        hid_tagger.value = hid_tagger.value.replace(choice + ';', "");
    }

    setTimeout(() => {
        var now = new Date();
        var date = now.getDate();
        var hour = now.getHours();
        var minute = now.getMinutes();
        var padder = [date, hour, minute];
        if (date < 10) {
            date = `0${date}`
        }
        if (hour < 10) {
            hour = `0${hour}`
        }
        if (minute < 10) {
            minute = `0${minute}`
        }
        document.getElementsByName("in-time")[0].value = `${date} ${months[now.getMonth()]}, ${now.getFullYear()}   ${hour}:${minute}`;
    }, 1)
</script>
{% endblock %}