{% extends 'base_layout.html' %}
{% block title %}
Your Library, Elevated
{% endblock %}

{% block style %}
<style>
  #parallax {
    background-image: url("../static/Personal/Images/display/parallax.jpg");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #splash {
    height: 310px;
    margin-top: -310px;
    background-color: rgba(51, 51, 51, 0.7);
  }

  #splash div p {
    color: white;
    padding-top: 10%;
    font-size: 1.2em;
  }

  #splash div h3 {
    color: whitesmoke;
  }

  #follow-apps a {
    margin-right: 2%;
  }

  .featured img {
    margin: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .featured {
    background: rgb(236, 245, 255);
  }

  @media (max-width: 991.98px) {
    #log-btn {
      margin-top: 15%;
    }
  }
</style>
{% endblock %}

{% block body%}
<div id="parallax"></div>
<div id="splash">

  <div class="container">
    <p><i>Your Library, Elevated... - Shelfmate</i></p>
    <h3>OPEN A LIBRARY<br>START MANAGING WITH EASE</h3>
  </div>
  <div class="container d-grid gap-2 col-2 mx-auto" id="log-btn">
    <button class="btn btn-dark" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
      aria-controls="staticBackdrop" onclick="document.cookie='type=log'">Login</button>
  </div>
</div>

<div class="featured container-fluid">
  <div class="images container">
    {% for i in range(1, 10) %}
    <img src="../static/Personal/Images/featured/lib{{i}}.jpg" width="50">
    {% endfor %}
  </div>
</div>
{% endblock %}