{% extends 'base_account.html' %}
{% block style %}
<style>
  @media (min-width: 991.98px) {
    input {
      margin-left: 10%;
    }

    select {
      margin-left: 10%;
    }

    .tags {
      margin-left: 10%;
    }
  }

  .heading-library {
    padding: 2%;
    width: 100%;
  }

  .value-library {
    margin-left: 50%;
    color: blue;
  }

  #main-block {
    background-color: whitesmoke;
    padding: 5%;
    width: 95%;
  }
</style>
{% endblock %}

{% block main_block %}
<p class="h4">Library Details</p>
<hr>
<div id="show-1" style="font-size: 0.9em; font-weight: 500;">
  <div class="container" style="width: 80%;">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Library Name</td>
          <td>{{library_offline['library_name']}}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Phone Number</td>
          <td>{{library_offline['library_phone']}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td><a href="mailto:{{library_offline['library_email']}}"
              target="_blank">{{library_offline['library_email']}}</a></td>
        </tr>
        <tr>
          <td>Address</td>
          <td>{{", ".join(library_offline['library_address'])|replace(" , ", " ")}}</td>
        </tr>
        <tr>
          <td>Library Website</td>
          <td><a href="{{library_offline['library_url']}}" target="_blank">{{library_offline['library_url']}}</a>
          </td>
        </tr>
      </tbody>
    </table><br>
    <div id="edit-btn" style="text-align: center;">
      <button class="btn btn-primary" onclick="JavaScript:toggle_show()">Edit</button>&nbsp;&nbsp;
      <button class="btn btn-danger" onclick="JavaScript:delete_lib()">Delete</button>
    </div>
  </div>
</div>
<form class="container" id="show-2" method="post" autocomplete="off">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label form-head">Library Name<span style="color: red;">&nbsp;*</span></label>
    <div class="col-sm-10">
      <input type="text" class="form-add" name="name-lib" placeholder="Library"
        value="{{library_offline['library_name']}}" required>
    </div>
  </div><br>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label form-head">Email<span style="color: red;">&nbsp;*</span></label>
    <div class="col-sm-10">
      <input type="email" class="form-add" name="email-lib" placeholder="Email"
        value="{{library_offline['library_email']}}" required>
    </div>
  </div><br>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label form-head">Phone number<span style="color: red;">&nbsp;*</span></label>
    <div class="col-sm-10">
      <input type="tel" class="form-add" name="phone-lib" placeholder="Phone"
        value="{{library_offline['library_phone']}}" required>
    </div>
  </div><br>
  <div class="form-group row">
    <span class="col-sm-2 col-form-label form-head">Address<span style="color: red;">&nbsp;*</span></span>
    <div class="container">
      <input type="text" class="form-add long-dash" name="address-1" placeholder="Address Line 1"
        value="{{library_offline['library_address'][0]}}" required><br><br>
      <input type="text" class="form-add long-dash" name="address-2" placeholder="Address Line 2"
        value="{{library_offline['library_address'][1]}}"><br><br>
      <input type="text" class="form-add short-dash" name="address-city" placeholder="District"
        value="{{library_offline['library_address'][2]}}" required>
      <input type="text" class="form-add short-dash right-dash" name="address-state" placeholder="State"
        value="{{library_offline['library_address'][3]}}" required><br><br>
      <input type="number" class="form-add short-dash" name="address-postal" placeholder="Postal Code"
        value="{{library_offline['library_address'][4]}}" required>
      <select name="address-country" class="form-add form-select-sm mb-3 short-dash right-dash" required>
        <option value="" hidden>Country</option>
        {% for country in option_countries %}
        {{country|safe}}
        {% endfor %}
      </select>
    </div>
  </div><br>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label form-head">Library Website</label>
    <div class="col-sm-10">
      <input type="url" class="form-add" name="web-lib" placeholder="Library"
        value="{{library_offline['library_url']}}">
    </div>
  </div><br><br>
  <div class="container-fluid" style="text-align: center;">
    <button type="submit" class="btn btn-dark" id="save-btn">Save Changes</button>&nbsp;&nbsp;
    <button type="reset" onclick="JavaScript:toggle_show()" class="btn btn-secondary" id="cancel-btn">Cancel</button>
  </div><br>
</form>
<div class="hidden" hidden>{{library_offline['library_address'][5]}}</div>
{% endblock %}

{% block code %}
<script>
  const country = document.getElementsByName('address-country')[0];
  const defined = document.querySelector('.hidden').innerHTML;
  const show_1 = document.querySelector('#show-1');
  const show_2 = document.querySelector('#show-2');
  const canceler = document.getElementById('cancel-btn')
  for (let i = 0; i < country.options.length; i++) {
    const element = country.options[i];
    if (element.value == defined) {
      country.selectedIndex = i;
    }
  }
  if (defined != "") {
    show_1.hidden = false;
    show_2.hidden = true;
    canceler.hidden = false
  }
  else {
    show_2.hidden = false;
    show_1.hidden = true;
    canceler.hidden = true
  }

  function toggle_show() {
    if (show_1.hidden) {
      show_1.hidden = false;
      show_2.hidden = true;
    }
    else {
      show_2.hidden = false;
      show_1.hidden = true;
    }
  }

  function delete_lib() {
    const inputs = document.getElementsByClassName('form-add')
    if (confirm("Are you sure you want to delete your Library Details?")) {
      for (i in inputs) {
        inputs[i].required = false
        inputs[i].value = ""
      }
      document.getElementById('save-btn').click()
    }
  }
</script>
{% endblock %}